@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  margin: 0;
  background: rgb(7, 9, 21) !important;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  color: white;
}
:root {
  --mailcolor: #d8087c;
}
.homem {
  display: flex;
  place-items: center;
  height: 100vh;
}
.login_info .login,
.email {
  display: flex;
  vertical-align: bottom;
  align-items: center;
  color: rgb(219, 219, 219);
  cursor: pointer;
}

nav {
  background: #1e1d32;
  padding: 20px !important;
}
.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: bold !important;
  margin-left: 20px;
}
.navActive {
  color: var(--mailcolor) !important;
}
.bellcount {
  position: absolute;
  background: var(--mailcolor);
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  margin-top: -7px !important;
  z-index: 99;
  margin-left: -13px;
  height: 25px;
  width: 25px;
  border: 3px solid #1e1d32;
}
.cartcount {
  position: absolute;
  background: var(--mailcolor);
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  margin-top: -7px !important;
  z-index: 99;
  margin-left: -13px;
  height: 25px;
  width: 25px;
  border: 3px solid #1e1d32;
  text-align: center;
}
.carticon {
  margin-top: 8px;
}
.alert-dd {
  border-radius: 0 !important;
  background: #26253f !important;
  width: 100% !important;
}
.alert-item:hover {
  background: #403e6a !important;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.alert-avatar {
  width: 15%;
  flex-shrink: 0;
  height: 15%;
  border-radius: 50%;
  margin-top: -4px;
}
.chat-avatar {
  margin-top: 0.75%;
  width: 3%;
  height: 3%;
  flex-shrink: 0;
  border-radius: 50%;
}
.friendslist {
  background: #1e1d32;
  height: auto;
  overflow-y: scroll;
  border-top: 1px solid black;
}
.gameslist {
  background: #1e1d32;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid black;
}
.chatbox .header {
  background-color: #1e1d32;
  padding: 10px;
}
.online {
  position: absolute;
  margin-left: 10px;
  border: 0.6px solid lime !important;
  border-radius: 50%;
  height: 7px !important;
  width: 7px !important;
  margin-top: 10px;
  background-color: lime;
}
.offline {
  position: absolute;
  margin-left: 10px;
  border: 0.6px solid red !important;
  border-radius: 50%;
  height: 7px !important;
  width: 7px !important;
  margin-top: 10px;
  background-color: red;
}
.chatbox .message {
  background: var(--mailcolor);
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 15px;
  text-align: center;
}
.chatbox .inputs {
  background: #1e1d32;
  position: fixed;
  bottom: 0;
  padding: 15px;
  width: 100%;
  padding-left: 17.5%;
}
.chatbox .inputs input {
  background: #00000000;
  border-radius: 30px;
}
.chatbox .inputs input::placeholder {
  color: var(--mailcolor);
}
.chat {
  overflow-y: scroll;
  height: 63vh;
  scrollbar-width: 3px;
}
.chat .date {
  margin-top: 10px;
}
.online_avatar {
  border: 2px solid lime;
}
.offline_avatar {
  border: 2px solid red;
}
.friend:hover {
  background: #120f1f;
  cursor: pointer;
}
.friend {
  padding: 7px;
}
.friend img {
  margin-top: 2px;
}
.friend span {
  margin-top: 2px;
}

.popup {
  background: #120f1f;
  padding: 30px;
  position: fixed;
  top: 20%;
  left: 38%;
  width: 55vh !important;
  z-index: 99;
}
@media only screen and (max-width: 920px) {
  .popup {
    width: 100% !important;
    left: 0;
  }
}
.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

.text-main {
  color: var(--mailcolor) !important;
  text-decoration: none;
}
.backround-main {
  background-color: var(--mailcolor) !important;
}
.custom-btn {
  border-radius: 0 !important;
  border: none !important;
  color: white !important;
}
.popup .close {
  margin-top: -12px;
}
.login label {
  text-transform: uppercase;
  font-size: 13px;
}
.cartitem {
  margin-top: 10px;
  background: #1e1d32;
  display: flex;
  place-items: center;
  height: 15vh;
  justify-content: space-between;
  padding: 10px;
}
.cardcolor {
  background-color: #1e1d32;
}

.toplist {
  padding: 10px;
}
.toplist img {
  width: 10%;
}
.toplist {
  overflow-x: scroll;
  overflow-y: hidden;
}
.viewitem img{
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.viewitem{
  margin-top: 2vh;
  background: #1e1d32;
  padding: 10px;
}
